.field {
  border: 1px solid black;
  width:53px;height:53px;
}

.selectedField {
  border: 2px solid blue;
  width:52px;
  height:52px;
  top:0px;
  position:relative;
}

.fieldInReach {
  border: 2px solid #64CE64;
  width:52px;
  height:52px;
  top:0px;
  position:relative;
}

.threatenedField {
  border: 2px solid red;
  width:52px;
  height:52px;
  top:0px;
  position:relative;
}
