@import '../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: sans-serif;
  background: #fff;
  color: #000;
}
a {
  color: #fb0;
  &:hover {
    text-decoration: none;
  }
  &.active {
    text-decoration: none;
    color: #fd8;
  }
}
