<div class="row">
  <div class="col-sm-12" style="padding-bottom:15px">
    <button class="btn-danger" (click)="deleteRow()">delete row</button>
    <button class="btn-primary" (click)="addRow()">add row</button>
    Selected: {{selectedName}}
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <table id="example" class="display" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Name</th>
        <th>Position</th>
      </tr>
      </tfoot>
      <tbody>
      <tr *ngFor="let row of data; let i = index" (click)="selectRow(i, row)">
        <td>{{row.name}}</td>
        <td><input [(ngModel)]="row.lastName" style="color:black"></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>


