<md-card>
  <md-card-header color="primary">
    {{'Registration form' | translate}}
  </md-card-header>
  <md-card-content>
    <form novalidate>
      <div>
        <md-input-container>
          <input mdInput placeholder="{{'First name:' | translate}}" name="firstname" [(ngModel)]="firstname">
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input mdInput placeholder="{{'Last name:' | translate}}" name="lastname" [(ngModel)]="lastname">
        </md-input-container>
      </div>

    </form>

  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="register()">{{'register'  | translate}}</button>
  </md-card-actions>

</md-card>
