table {
  border-collapse: collapse;

  td, th {
    border: 5px solid darkgreen;
    width: 130px;
    height: 130px;
    text-align: center;

    .material-icons {
      font-size: 72pt;
    }
  }

  tr:first-child th, tr:first-child td {
    border-top: 0;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  tr td:first-child,
  tr th:first-child {
    border-left: 0;
  }

  tr td:last-child,
  tr th:last-child {
    border-right: 0;
  }
}

